.notfound-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
}

.notfound-container h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.notfound-container p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.home-link {
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s;
}

.home-link:hover {
  background: #333;
}
